@CHARSET "UTF-8";

P.instruction {
	/* color: red; */
	border: black solid 1px;
	background-color: #f0f0f0;
	padding: 10px;
}

P.instruction .count {
	color: #a0a0a0;
	font-size: 150%;
	font-weight: bold;
	float: left;
	width: 2ex;
	margin-top: -3px;
}

TABLE.course_select {
	border: #c0c0c0 solid 1px;
	padding: 5px;
	margin-left: 10%;
}

TABLE.course_select TD {
	vertical-align: top;
}

TABLE.time_select {
	margin-left: 10%;
}

TEXTAREA.extra_info {
	margin-left: 10%;
}

.small_instructions {
	margin-left: 10%;
	font-size: 75%;
	color: #808080;
}

DIV.summary_list {
	margin-left: 10%;
	width: 80%;
	color: #000020;
	font-family: monospace;
}
